.main {
  width: 80px;
  margin-left: 20px;
}
.main .ant-btn {
  font-size: 14px;
  font-weight: bolder;
  border-radius: 0px;
  margin-top: 3px;
}
.main .ant-space {
  width: 90px;
  gap: 0px !important;
}
